:root{
    --white-color:#fff;
    --background-color:#F8F8FF;
    --grey-color:grey;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.claulator{
    margin-top: -6rem;
    display: grid;
    padding: 15px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--background-color);
    box-shadow: inset 5px 5px 12px var(--white-color),
                       5px 5px 12px rgba(0,0,0,0.16);
    
    grid-template-columns: repeat(4,68px);

}

input{
    grid-column: span 4;
    height: 90px;
    width: 260px;
    border: none;
    border-radius: 30px;
    font-size: 50px;
    text-align: end;
    padding: 1rem;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: var(--background-color);
    box-shadow: inset -5px -5px 12px var(--white-color),
                inset 5px 5px 12px rgba(0,0,0,0.16);
}
button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow:  -5px -5px 12px var(--white-color),
                    5px 5px 12px rgba(0,0,0,0.16);
    
    margin: 8px;
    font-size: 16px;

}
.links{
    width: 5rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--grey-color);
    transition: 0.5s ease-in-out;
}
.links:hover{
    transform: translateY(-3px);
}
.links a{
    text-decoration: none;
    color: var(--white-color);
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: var(--background-color);
    box-shadow:  -5px -5px 12px var(--white-color),
                    5px 5px 12px rgba(0,0,0,0.16); 
}
.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}
.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}
.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}
.heading{
    position: absolute;
    bottom: 1.2rem;
}
